# Intelij stuff
.idea

# Python stuff
**/__pycache__/

# VSCode stuff
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Manim stuff
media

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix